<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap-nav-tree/dist/abn_tree.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/app/assets/app.css">
</head>
<body ng-app="myApp" ng-controller="MainCtl">

<div class="container-fluid">
    <div class="row search-tools">
        <div class="col-sm-3 filter">
            <label for="sources">Source:</label>
            <select id="sources" ng-model="source" ng-change="load()" ng-options="s.name for s in sources"
                    class="form-control"></select>
        </div>
        <div class="col-sm-3 filter">
            <label for="versions">Version:</label>
            <select id="versions" class="form-control" ng-options="v for v in versions" ng-model="version"
                    ng-change="versionChange()"></select>
        </div>
        <div class="col-sm-3 trigger">
            <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>
        <div class="col-sm-3 trigger">
            <button class="btn btn-primary pull-right" ng-click="debug=!debug">Debug is {{debug?"On":"Off"}}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div id="categories" class="panel panel-default">
                <div class="panel-heading">Tree</div>
                <div class="panel-body">
                    <abn-tree
                            tree-id="1"
                            tree-data="data"
                            on-select="my_handler(branch)"
                            ></abn-tree>
                </div>
            </div>
            <div ng-hide="data.length != 0">
                Select a source from above to load from the backend.
            </div>
        </div>
        <div class="col-xs-6">
            <div ng-hide="branch">Click an item in the tree to edit attributes.</div>
            <div id="selection" class="panel panel-default" ng-show="branch" data-spy="affix" data-offset-top="60"
                 data-offset-bottom="200" style="min-width: 47%;">
                <div class="panel-heading">
                    {{branch.label}}
                    <label><i class="fa fa-chevron-down"></i></label>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Children</dt>
                        <dd>{{branch.children.length}}</dd>
                        <dt>Move Up</dt>
                        <dd>
                            <button class="btn btn-primary btn-xs" ng-click="moveUp(undefined);">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                        </dd>
                        <dt>Move Down</dt>
                        <dd>
                            <select class="form-control" ng-options="s.label for s in siblings"
                                    ng-disabled="siblings.length == 0"
                                    ng-model="selectedSibling" ng-change="moveDown()">
                            </select>
                        </dd>
                        <dt>Relation to Parent</dt>
                        <dd>
                            <input type="text" ng-model="branch.relationship" class="form-control">
                        </dd>
                        <dt>Comments</dt>
                        <dd><textarea ng-model="branch.comments" class="form-control" rows="4"></textarea></dd>
                    </dl>
                    <pre ng-show="debug">{{branch|json}}</pre>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <pre ng-show="debug">{{data | json}}</pre>
            </div>
        </div>
    </div>
</div>

<pre ng-show="debug">Siblings:
{{siblings|json}}</pre>

<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/js/affix.js"></script>
<script type="text/javascript" src="js/tree.js"></script>
<script src="bower_components/angular-bootstrap-nav-tree/dist/abn_tree_directive.js"></script>
</body>
</html>