$olddark: #282827;
$oldlight: #dcd8cf;

$dark: #0A313D;
$medium: #7F9294;
$light: #FAFBF3;

$blue: #00B5CD;
$red: #ED2647;
$orange: #e25d33;
$white: #fefefe;

$background: $orange;
$highlight: $blue;
$text: #212121;

.search-tools {
	$search-tools-border-color: $white;

	@include clearfix;
	background: $background;
	padding: 10px;
	padding: 1em 0 .5em;
	margin-bottom: 2em;

	&:after {
		background-color: darken($background, 10%);
		content: '';
		position: relative;
		top: .7em;
		height: 5px;
		width: 100%;
	}

	.filter {
		margin-bottom: 1em;

		label {
			color: $dark;
			text-transform: uppercase;
		}

		select {
			border-color: transparent;
		}

		ol label {
			display: inline;
		}

		.hide-options {
			margin-bottom: 0;

			ol, button {
				display: none;
			}
		}
	}

	.trigger {
		button {
			background-color: $dark;
			border-color: $dark;
			color: $light;
			margin-top: 1.7em;
			text-transform: uppercase;
			&:hover {
				background-color: lighten($dark, 10%);
			}
		}
	}
}
