$blue: #69d2e7;
$lightblue: #a7dbdb;
$red: #ED2647;
$orange: #fa6900;
$white: #fefefe;

$dark: darken($orange, 35%);
$medium: #7F9294;
$light: #e0e4cc;

$background: $orange;
$highlight: $blue;
$text: darken($orange, 50%);

.search-tools {
	$search-tools-border-color: $white;

	@include clearfix;
	background: $background;
	padding: 10px;
	padding: 1em 0 .5em;
	margin-bottom: 2em;

	&:after {
		background-color: darken($background, 10%);
		content: '';
		position: relative;
		top: .7em;
		height: 5px;
		width: 100%;
	}

	.filter {
		margin-bottom: 1em;

		label {
			color: $dark;
			text-transform: uppercase;
		}

		select {
			border-color: transparent;
		}

		ol label {
			display: inline;
		}

		.hide-options {
			margin-bottom: 0;

			ol, button {
				display: none;
			}
		}
	}

	.trigger {
		button {
			background-color: $light;
			border: 1px solid darken($orange, 10%);
			color: $text;
			margin-top: 1.7em;
			text-transform: uppercase;
			&:hover {
				background-color: $lightblue;
			}
		}
	}
}
