@import 'bourbon/addons/clearfix';
@import 'partials/search';

$blue: #69d2e7;
$lightblue: #a7dbdb;
$red: #ED2647;
$orange: #fa6900;
$white: #fefefe;

$dark: darken($orange, 35%);
$medium: #7F9294;
$light: #e0e4cc;

$background: lighten($light, 5%);
$highlight: $blue;
$text: darken($orange, 50%);

body {
	background: $background;
	color: $text;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
}

a {
	color: $text;
	text-decoration: none;

	&:hover, &:focus {
		color: $blue;
		text-decoration: underline;
	}
}

.panel {
	background: none;
	border: none;
	box-shadow: none;

	.panel-heading {
		border-radius: 4px;
		border-color: transparent;
		color: $light;
		font-weight: 700;
		margin-bottom: .5em;
		text-transform: uppercase;
	}
	.panel-body {
		border-radius: 4px;
	}
}

#categories.panel {
	background-color: $dark;
	color: $light;
	padding: .5em;

	.panel-heading {
		background: transparent;
		color: $light;
		padding: .25em;
	}
	.panel-body {
		background-color: transparent;
		padding: 0;
	}
}

#selection {
	.panel-heading {
		background: $highlight;
		border: 1px solid darken($blue, 10%);
		color: $dark;
		label { float: right; }
	}
}

ul.abn-tree {
	border-radius: 4px;

	li.abn-tree-row {
		margin-top: .5em;

		&:first-child { margin-top: 0; }
		&.active a {
			background-color: $blue;
			color: $text;
			&:hover {
				background-color: $blue;
				color: $dark;
			}
			&:before {
				content: '>';
				color: $dark;
				position: absolute;
				right: 1em;
			}
		}

		a {
			background: $white;
			padding: .5em 1em;

			&:hover {
				background-color: $lightblue;
				color: $text;
				&:before {
					content: '>';
					color: $text;
					position: absolute;
					right: 1em;
				}
			}
		}
	}
}

dl {
	dd {
		margin-bottom: .75em;
		button.btn.btn-primary {
			background-color: $orange;
			border-color: darken($orange, 10%);
		}
		.form-control {
			border: 1px solid darken($background, 25%);
		}
	}
}
